.slider-enter-active,
.slider-leave-active {
    transition: transform 0.3s;
    transform: translateY(0);
}

.slider-enter-from,
.slider-leave-to {
    transform: translateY(100%);
}


.scala-enter-active,
.scala-leave-active {
    transform-origin: bottom left;
    transition: all 0.5s;
    opacity: 1;
    transform: scale(1);
}

.scala-enter-from,
.scala-leave-to {
    opacity: 0;
    transform: scale(0);
}

.swiper-in-enter-active {
  transition: transform 0.3s;
  transform: translateX(0%);
}
.swiper-in-enter-from {
  transform: translateX(100%);
}
.swiper-out-leave-active {
  transition: transform 0.3s;
  transform: translateX(0%);
}
.swiper-out-leave-to {
  transform: translateX(100%);
}
